.brush-style {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 0.5rem;
    cursor: pointer;
}

.brush-style:hover {
    border: 1px solid white;
}

.brush-style.picked {
    border: 1px solid red;
}

#round {
    background-image: url('../icons/round.png');
}

#square {
    background-image: url('../icons/square.png');
}

#zip {
    background-image: url('../icons/zip.png');
}