.color-board {
    background-color: lightsalmon;
    width: 350px;
    height: 210px;
    border-radius: 1rem;
    -moz-box-shadow: 0 0 0.3rem 0.3rem white;
    -webkit-box-shadow: 0 0 0.3rem 0.3rem white;
    box-shadow: 0 0 0.3rem 0.3rem white;
    margin: 0 auto;
    text-align: center;
}