.function-button {
    background-color: lightsalmon;
    border-radius: 1rem;
    -moz-box-shadow: 0 0 0.3rem 0.3rem white;
    -webkit-box-shadow: 0 0 0.3rem 0.3rem white;
    box-shadow: 0 0 0.3rem 0.3rem white;
    margin: 0.5rem 0;
    padding: 1rem 0;
    text-align: center;
}