* {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
}

html {
    font-size: 16px;
    line-height: 1.5;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-image: url('https://img.glyphs.co/img?src=aHR0cHM6Ly9zMy5tZWRpYWxvb3QuY29tL3Jlc291cmNlcy9GcmVlLVNlYW1sZXNzLVdvb2QtVGV4dHVyZXMtUHJldmlldy0xLmpwZw&q=90&enlarge=true&h=1036&w=1600');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
}

#wrapping {
    display: inline-block;
    position: relative;
    width: 1246px;
    height: 846px;
    margin: 2rem 2rem;
}

#context-board {
    position: absolute;
    width: 1150px;
    height: 750px;
    top: 3rem;
    left: 3rem;
}