.main-board {
    position: absolute;
    background-color: white;
    border-image: url('https://us.123rf.com/450wm/builttospill/builttospill0703/builttospill070300026/823328-.jpg?ver=6') 9% 12% 9% 12% repeat stretch;
    border-width: 3rem;
    border-style: solid;
    -moz-box-shadow: 0 0 0.3rem 0.4rem white;
    -webkit-box-shadow: 0 0 0.3rem 0.4rem white;
    box-shadow: 0 0 0.3rem 0.4rem white;
    cursor: default;
}

.main-board.brush {
    cursor: url('../cursors/brush.png') 15 30, url(../cursors/brush.png) 15 30, default;
}

.main-board.eraser {
    cursor: url('../cursors/eraser.png') 13 28, url(../cursors/eraser.png) 13 28, default;
}

.main-board.text {
    cursor: url('../cursors/text.png') 24 26, url(../cursors/text.png) 24 26, default;
}

.main-board.circle {
    cursor: url('../cursors/circle.png') 16 16, url(../cursors/circle.png) 16 16, default;
}

.main-board.triangle {
    cursor: url('../cursors/triangle.png') 16 20, url(../cursors/triangle.png) 16 20, default;
}

.main-board.rectangle {
    cursor: url('../cursors/rectangle.png') 16 16, url(../cursors/rectangle.png) 16 16, default;
}

.main-board.line {
    cursor: crosshair;
}