.slider {
    display: table;
    -webkit-appearance: none;
    width: 200px;
    height: 10px;
    margin: 1.5rem auto;
    background: #d3d3d3;
    border-radius: 0.5rem;
    opacity: 0.7;
    transition: opacity 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 0.5rem;
    cursor: pointer;
}