.style-board {
    background-color: lightsalmon;
    width: 350px;
    border-radius: 1rem;
    -moz-box-shadow: 0 0 0.3rem 0.3rem white;
    -webkit-box-shadow: 0 0 0.3rem 0.3rem white;
    box-shadow: 0 0 0.3rem 0.3rem white;
    margin: 2rem auto 0;
    padding: 1rem 0;
    text-align: center;
}