.tool {
    display: inline-block;
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 90px;
    height: 90px;
    margin: 0.2rem 0.5rem;
    cursor: pointer;
}

.tool:hover {
    border: 2px solid white;
}

.tool.picked {
    border: 2px solid black;
}

#brush {
    background-image: url('../icons/brush.png');
}

#eraser {
    background-image: url('../icons/eraser.png');
}

#text {
    background-image: url('../icons/text.png');
}

#circle {
    background-image: url('../icons/circle.png');
}

#triangle {
    background-image: url('../icons/triangle.png');
}

#rectangle {
    background-image: url('../icons/rectangle.png');
}

#line {
    background-image: url('../icons/line.png');
}

#download {
    background-image: url('../icons/download.png');
}

#upload {
    background-image: url('../icons/upload.png');
}

#undo {
    background-image: url('../icons/undo.png');
}

#redo {
    background-image: url('../icons/redo.png');
}

#reset {
    background-image: url('../icons/reset.png');
}

input[type='file'] {
    display: inline-block;
    position: absolute;
    width: 90px;
    height: 90px;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}